/*  div{
           width: 100px;
           height: 100px; 
           border: 2px solid green
       }
       header div {
           border: 2px solid purple;
           display: inline-block;
    
       } */

img {
  width: 100%;
  height: 100%;
}
.head-wrapper {
  display: inline-flex;
  width: 100%;
  background-color: chocolate;
}
.head-wrapper div {
  width: 33.3%;
  height: 200px;
  border: 2px solid purple;
}
.header-nav li {
  display: inline-block;
  margin-right: 15%;
}
.header-nav li a {
  text-decoration: none;
  list-style: none;
}

/* unvisited link */
a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #00ff00;
}

/* mouse over link */
a:hover {
  color: #ff00ff;
  border: #ff00ff;
  background: #000;
  padding: 5px;
}

.para {
  color: red;
  border: 2px solid greenyellow;
  padding: 10px;
}

.second-para {
  color: darkorchid;
}

.third-para {
  background: darkcyan;
  color: black;
  opacity: 2;
}

table {
  width: 100%;
  margin: auto;
}

table,
th,
td {
  width: 10%;
  border: 2px solid #0077be;
  border-collapse: collapse;
}

.parent {
  position: absolute;
  border:2px solid black dotted;
  background-color: #1da1f2;
}

.item {
  position: relative;
  width: 70%;
  height: 50%;
  border: greenyellow dotted;
  left: 400px;
}

.first-item {
  background: #ff0000;
}

.second-item {
  background: #00ff00;
  top: 110px;
}

.third-item {
  background: #0000ff;
}

button {
  color: cadetblue;
  background-color: black;
  cursor: pointer;
}

.footer-nav {
  background-color: purple;
  color: white;
}

i {
  font-size: 40px;
}

.fa-github {
  color: #24292d;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-medium {
  color: #11100e;
}

.fa-twitter {
  color: #1da1f2;
}
