html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}
.click li {
  display: inline-block;
  margin-right: 50px;
}
.menu li a {
  text-decoration: none;
  color: black;
}
nav {
}
.click {
}

.socialmedia {
  align-self: baseline;
}

.socialmedia li {
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
}

/* header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  flex-direction: row;
  width: 70%;
}

header nav ul li {
  margin-right: 40%;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header section {
}

header section ul {
  display: flex;
  flex-direction: row;
}

header section ul li {
  list-style: none;
  margin-left: -50%;
  size: 30px;
}
*/
.logo {
  display: flex;
  justify-content: center;
}

.fa-github {
  color: #24292d;
}

.fa-linkedin-in {
  color: #0077b5;
}

.fa-medium {
  color: #11100e;
}
.fa-codepen {
  color: #000;
}
.fa-youtube {
  color: #ff0000;
}
.fa-instagram {
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  display: flex;
  margin-top: 100px;
  margin-bottom: 45px;
}

.headline {
  flex: 1;
  letter-spacing: -1px;
  line-height: 25px;
  margin-left: 250px;
  margin-top: 50px;
}

.videopart {
  flex: 1;
  margin-left: -70px;
}

aside {
  width: 34.3%;
}

.firstline {
  text-align: left;
  font-size: 35pt;
  font-family: Arial, Helvetica, sans-serif;
}

.secondline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25pt;
  text-align: left;
  text-decoration: underline;
  display: inline;
}

.video {
}

.sneak-peak {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.sneak-peak h1 {
  margin-bottom: 50px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.vlog {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.vlog-container {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
}

.vlog h1 {
  margin-block-end: 50px;
}

a:link {
  color: black;
  text-align: center;
}

a:visited {
  color: black;
}

a:hover {
  color: yellow;
}

a:active {
  color: yellow;
}

.github {
}
.youtube-video {
}
.youtube-videotwo {
}
